@import url('./var.css');
@import url('./core.css');
@import url('./blocks/intro.css');
@import url('./blocks/header.css');
@import url('./blocks/logo.css');
@import url('./blocks/menu.css');
@import url('./blocks/burger.css');
@import url('./blocks/banner.css');
@import url('./blocks/advantages.css');
@import url('./blocks/services.css');
@import url('./blocks/price.css');
@import url('./blocks/tariffs.css');

.cars {
  margin-bottom: 3.125rem;
}
.cars__title {
  margin-bottom: 1rem;
  font-size: 1.875rem;
  line-height: 2.3125rem;
  text-align: center;
  font-weight: 600;
}
.cars__subtitle {
  margin-bottom: 3.75rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.875rem;
  text-align: center;
}
.cars__tabs {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}
.cars__tab:not(:last-child) {
  margin-right: 1.25rem;
}
.cars__tab {
  font-family: inherit;
  padding: 0.8125rem 4rem;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  background-color: transparent;
  border: 1px solid var(--color-border);
}
.cars__tab.cars__tab--active {
  border-color: var(--color-accent);
}
.cars__slider-list {
  position: relative;
}

.cars__slider-item {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cars__slider-item:nth-child(2) {
  display: none;
}
.cars__slider-item:nth-child(3) {
  display: none;
}
.cars__slider-arrow {
  display: block;
  position: absolute;
  bottom: 50%;
}
.cars__slider-arrow--left {
  left: 5%;
}
.cars__slider-arrow--right {
  right: 5%;
  transform: rotate(180deg);
}
.car-info {
  flex: 0 1 15.625rem;
  margin-right: 7rem;
}
.car-info__title {
  margin-bottom: 2.3125rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.75rem;
}
.car-info__list {
  margin-bottom: 2.1875rem;
}
.car-info__item {
  padding-left: 1.25rem;
  font-size: 1rem;
  line-height: 1.25rem;
  position: relative;
}
.car-info__item:not(:last-child) {
  margin-bottom: 1.75rem;
}
.car-info__item::after {
  content: '';
  display: block;
  width: 0.875rem;
  height: 0.875rem;
  background: url('../img/check.svg');
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.car-info__text {
  display: none;
}
.car-info__button {
  padding: 0.8125rem 4.875rem;
  font-weight: 500;
  font-family: inherit;
  font-size: 1.25rem;
  line-height: 1.5rem;
  background-color: var(--color-accent);
  transition: background 0.5s ease, box-shadow 0.5s ease, color 0.5s ease;
}
.car-info__button:hover,
.car-info__button:focus {
  color: var(--color-white);
  background: var(--color-accent);
  box-shadow: 0px 4px 24px var(--color-accent);
}
.cars__slider-image {
  flex: 0 1 50%;
}
.cars__slider-image img {
  max-width: 100%;
  height: auto;
}
.cars__slider-dots {
  display: none;
}
.reviews {
  padding-top: 6.25rem;
  padding-bottom: 5.625rem;
  text-align: center;
  background-color: var(--color-accent);
}
.reviews__title {
  margin-bottom: 3.75rem;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.reviews__list {
  margin-bottom: 3.75rem;
  display: flex;
}
.reviews__item {
  text-align: left;
  display: 0 1 26.25rem;
}
.reviews__item:not(:last-child) {
  margin-right: 1.25rem;
}
.reviews__name {
  margin-bottom: 0.625rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.75rem;
}
.reviews__date {
  display: inline-block;
  margin-right: 0.625rem;
  margin-bottom: 1.25rem;
  font-size: 1rem;
  line-height: 1.25rem;
}
.reviews__ratio::before {
  content: '★★★★★';
  font-size: 1rem;
  color: var(--color-red);
}
.reviews__comment {
  margin-bottom: 1.125rem;
  font-size: 1rem;
  line-height: 1.25rem;
}
.reviews__more {
  font-size: 1rem;
  line-height: 1.3125rem;
  text-decoration: underline;
}
.reviews__button {
  display: inline-block;
  padding: 0.8125rem 4rem;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-decoration: none;
  color: var(--color-black);
  border: 1px solid var(--color-black);
  transition: background-color 0.5s ease, border-color 0.5s ease,
    color 0.5s ease;
}
.reviews__button:hover,
.reviews__button:focus {
  background-color: var(--color-orange);
  border-color: transparent;
  color: var(--color-white);
}

@media (max-width: 991px) {
  .cars__slider-item {
    flex-direction: column-reverse;
  }
  .cars__tab.cars__tab--active {
    border-bottom: 1px solid var(--color-accent);
  }
  .car-info {
    margin-right: 0;
  }
  .cars__tab {
    padding: 0;
    border: none;
  }
  .cars__tab:not(:last-child) {
    margin-right: 2.375rem;
  }
}
@media (max-width: 768px) {
  .car-info {
    text-align: right;
  }
  .reviews__list {
    flex-wrap: wrap;
  }
  .reviews__item {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 480px) {
  .cars__title {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .cars__subtitle {
    display: none;
  }
  .cars__slider__list {
    position: relative;
  }
  .cars__slider-item {
    padding-left: 0;
    padding-right: 0;
  }
  .cars__tab {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .cars__tab:not(:last-child) {
    margin-right: 1.7rem;
  }
  .car-info__title {
    display: none;
  }
  .car-info__list {
    display: none;
  }
  .car-info {
    flex: 0 1 100%;
    text-align: center;
  }
  .car-info__text {
    display: block;
    margin-top: 1.25rem;
    margin-bottom: 5rem;
  }
  .cars__slider-image {
    flex: 0 1 100%;
  }
  .cars__slider-arrow {
    display: none;
  }
  .cars__slider-dots {
    width: 7.125rem;
    min-height: 1.25rem;
    margin-bottom: 0.625rem;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;

    left: 50%;
    bottom: 17%;
    transform: translateX(-50%);
  }
  .cars__slider-dot {
    margin-right: 0.625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    background-color: var(--color-black);
    position: relative;
  }
  .cars__slider-dot.cars__slider-dot--active:before {
    content: '';
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    background-color: transparent;
    border: 2px solid var(--color-accent);
    border-radius: 50%;
    position: absolute;
    top: -0.3125rem;
    left: -0.3125rem;
  }
  .reviews {
    padding-top: 2.5rem;
    padding-bottom: 3.125rem;
  }
  .reviews__title {
    margin-bottom: 2.5rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .reviews__list {
    margin-bottom: 1.125rem;
  }
  .revies__name {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
  .reviews__item:not(:first-child) {
    display: none;
  }
  .reviews__button {
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
    width: 100%;
  }
}
@media (max-width: 330px) {
  .cars__slider-dots {
    bottom: 22%;
    margin-bottom: 0;
  }
}
