.price {
  padding-top: 5rem;
  margin-bottom: 6.25rem;
}
.price__title {
  margin-bottom: 1rem;
  font-size: 1.875rem;
  line-height: 2.3125rem;
  text-align: center;
  font-weight: 600;
}
.price__subtitle {
  margin-bottom: 3.75rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
}
@media (max-width: 768px) {
  .price__subtitle {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 480px) {
  .price {
    padding-top: 3.125rem;
  }
  .price__title {
    margin-bottom: 0;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .price__subtitle {
    display: none;
  }
}
